.container {
    max-width:1000px;
}

.byline {
    font-size:1em;
    text-transform:uppercase;
    font-family: "Open Sans", sans-serif;
    text-align:left;
    padding-top:20px;
}

p {
    font-family:"Open Sans", sans-serif;
    line-height:180%;
    font-size:16px;
}

.chapter-headline {
    font-size:1.5em;
    font-weight:700;
    font-family: "Open Sans", sans-serif;
}

figure {
    text-align:center;
}

img {
   width:100%;
}
figcaption {
    font-size: 13px;
    color:gray;
}

#footer {
    color:white;
    text-align:center;
    background-color:black;
    line-height:200%;
    padding-top:10px;
    font-family:"Open Sans", sans-serif;
}

/*tophat*/
.nav-logo {
    color:white;
    margin: 0 auto;
    font-size:17px;
    font-family:"Open Sans", sans-serif;
}

.green {
    color:#007A33;
}

/*splash area*/

.hero-container {
    position:relative;
    text-align:center;
    color:white;
}

.hero-image {
    width:100%;
}

.overlay {
    position:absolute;
    top:30%;
    width:100%;
    background-color:black;
    opacity:.8;
}

.hero-head{
    font-family:"Open Sans", sans-serif;
    font-size:5em;
    color:#007A33;
    margin:0 auto;
    padding-bottom:10px;
}

.hero-sub {
    font-family: "sans-serif", "open-sans";
    font-size: 2.25em;
}

.graph {
    border-style:solid;
    border-color:lightgray;
    padding-top:10px;
    padding-bottom:10px;
}

.timeline {
    border-style:solid;
    border-color:lightgray;
    padding-top:10px;
    padding-bottom:10px;
} 

blockquote {
    font-family:"Open Sans", sans-serif;
    background-color: black;
    color:#007A33;
    font-size:1.5em;
    padding:5px;
}

@media(max-width:900px) {
    .hero-head {
        font-size:2em;
    }

    .hero-sub {
        font-size:1em;
    }
}